Repository AI-READI/ai-readi-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @slugb0t, @bvhpatel, @megasanjay

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-calm-island-0e64e4610.yml
Owners: @megasanjay, @slugb0t

ci: 👷 fix build
  .github/workflows/azure-static-web-apps-calm-island-0e64e4610.yml
  .github/workflows/deploy.yml
  docs/changelog.md
  docusaurus.config.js
Owners: @megasanjay, @slugb0t, @bvhpatel

fix: 🐛 update og:images
  docs/changelog.md
  docs/getting-started/about.mdx
  docs/getting-started/intro.mdx
  docs/legal/cookiepolicy.mdx
  docs/legal/termsofuse.mdx
  docusaurus.config.js
Owners: @bvhpatel, @slugb0t

chore(release): 🚀 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @slugb0t

Notes added by 'git notes add'
  56add7c45fb425b9c8d4e168471c3bafb0b430f0
Owners: @slugb0t

chore: 🔨 update og image tag
  docs/legal/privacypolicy.mdx
Owners: @bvhpatel, @slugb0t

chore: Update README.md
  README.md
Owners: @slugb0t

wip: 🚧 add v1 base
  README.md
  package.json
  src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
  versioned_docs/version-1/changelog.md
  versioned_docs/version-1/getting-started/_category_.json
  versioned_docs/version-1/getting-started/about.mdx
  versioned_docs/version-1/getting-started/intro.mdx
  versioned_docs/version-1/legal/_category_.json
  versioned_docs/version-1/legal/cookiepolicy.mdx
  versioned_docs/version-1/legal/privacypolicy.mdx
  versioned_docs/version-1/legal/termsofuse.mdx
  versioned_sidebars/version-1-sidebars.json
  versions.json
  yarn.lock
Owners: @slugb0t

.github/CODEOWNERS:

* @slugb0t
/docs/ @bvhpatel @slugb0t
/versioned_docs/ @slugb0t
/.github/ @megasanjay @slugb0t
package.json @megasanjay slugb0t
yarn.lock @megasanjay slugb0t
